.overview_incident_report_dir{
    direction: ltr !important;
}
.overview_incident_report th, .overview_incident_report td  {
    padding: 0px !important;
    text-align: center;
    font-size: .7em;
}
.overview_incident_report th:nth-child(3), .overview_incident_report th:nth-child(4),.overview_incident_report th:nth-child(5){
    color: #aa1010;
}
.overview_incident_report_name{
    font-size: .7em;
    font-weight: bold;
    padding: 2px;
}
.overview_reports th, .overview_reports td  {
    padding: 0px !important;
    text-align: center;
    font-size: .7em;
}
.overview_reports th{
    color: #343a40;
}
