.draggable_colors{
    width: 10px;
    height: 10px;
    margin: 10px;
}

.draggable_setting{
    position: absolute;
    top: -35px;
    right: -10px;
    font-size: 20px;
    color: black;

}
.draggable_setting_div{
    position: absolute;
    top: -170px;
//     right: -10px;
    font-size: 20px;
    background-color: #ffffffe4;
    padding: 5px;
    border-radius: 5px;

}

.visualize_settings_label{
    position: absolute;
    top: -35px;
    font-size: 20px;
    font-weight: bold;
    background-color: #ffffffe4;
    padding: 5px;
    white-space: nowrap;
    border-radius: 5px;
    min-width: 200px;

}
// .draggable_font_color{
//     position: absolute;
//     top: -35px;
//     right: 20px;
//
// }

// .draggable_border_color{
//     position: absolute;
//     top: -35px;
//     right: 90px;
// }

// .draggable_border_show{
//     position: absolute;
//     top: -55px;
//     right: 90px;
// }
// .draggable_font_size{
//     position: absolute;
//     top: -30px;
//     right: 160px;
// }
.visualize_box_content{
  text-align: center;
  overflow: hidden;


}
.visualize_box_content div{
//   background: white;
  width: fit-content;
  border-radius: 7px;
  margin: auto;
  padding: 0 20px;
}

.visualize_draggable_div {
  position: absolute;
  display: flex;
//       justify-content: center;
    flex-direction: column;
//   width: 100px;
//   height: 100px;
//   min-height: 6.5em;
  border: 5px #7da332  solid;
  margin: 1rem 0 0 1rem;
  padding: 10px;
//   background-color: #ffffff94;
//   color: #71639e;
  border-radius: 10px;
  touch-action: none;
  user-select: none;
  min-width: 100px;
  min-height: 100px;
//   transform: translate(0px, 0px);
//   box-shadow: rgb(211, 211, 212) 0px 0px 15px;

}

.diagram_image_preview{
    z-index: -1;
    position: absolute;
}

.draggable_zindex{
    z-index: 1000;
}

.visualize_box_content_no_label_p{
    position: absolute;
//     top: -37px;
    right: 0px;
    font-size: 20px;
    color: black;
    background-color: wheat;
    min-width: 200px;
}

